<h2>Bienvenido</h2>
<p>Ingresa tus datos</p>

<form action="/users/register" method="post">
Email: <input type="text" name="email"/>
Password: <input type="password" name="password"/>
<input type="submit" value="REGISTER">
</form>